.SideBar-Students{
    padding: 85px 0 70px 10px  ;
    /* background-color: red;  */
    height: 100%;
    /* width: 100%; */
    /* top:70px; */
    /* height: 100px; */
    background-color: #865da7;
}
.SideBar-Students ul{
    /* display: flex; */
    /* gap: 10px; */
}
.SideBar-Students ul li{
    margin: 10px 0;
    /* background-color: red; */
    padding: 15px ;
    border-radius: 16px 0 0 10px;
    transition: .2s ease;
    position: relative;
}
.SideBar-Students ul li .topPiece{
    opacity: 0;
    width: 20px;
    height: 16px;
    position: absolute;
    right: 0px;
    top: -16px;
    transition: .2s ease;
    z-index: 111;
    pointer-events: none;
    background-color: #ececec;
    border: 1px solid red;

}
.SideBar-Students ul li .topPiece::before{
    content: '';
    width: 20px;
    height: 16px;
    background-color: #865da7;
    top:0px;
    position: absolute;
    right: 0px;
    border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%   ;
    transition: .2s ease;
    z-index: 111;
    pointer-events: none;
}
.SideBar-Students ul li .bottomPiece{
    opacity: 0;
    width: 20px;
    height: 16px;
    position: absolute;
    background-color: #ececec;
    right: 0;

    bottom: -16px;
    transition: .2s ease;
    pointer-events: none;
}
.SideBar-Students ul li .bottomPiece::before{
    content: '';
    opacity: 1;
    width: 20px;
    height: 16px;
    background-color: #865da7;
    position: absolute;
    right: 0;
    border-radius:0% 100% 100% 0% / 0% 100% 0% 100% ;
    bottom: 0px;
    transition: .2s ease;
    pointer-events: none;
    z-index: 111;
}
.SideBar-Students ul li a{
    color: white;
    text-decoration: none;
    transition: .5s ease;
}
.SideBar-Students ul li.active{
    background-color: #ececec;

}
.SideBar-Students ul li.active .topPiece,
.SideBar-Students ul li.active .bottomPiece{
    opacity: 1;

}
.SideBar-Students ul li.active a{
    color:  #865da7;
}

